.C2 {
      background-color: #FA6E59;
      border: 5px solid #fb998a;
}

.c2Col {
  display: inline-block;
  position: relative;
  width: 22%;
  margin: 4% 0 5% 3%;
  padding: 0;
  background-color: transparent;
  border-top: none;
}


