
.ui.card{
    width: 100%;
}

#show{
    margin-top: 10px;
}
.drop, #drag{
    height:300px;
    width: 100%;
}
#looks{
    height: 70%;
    width: 60%;
    top:10%;
    left: 20%
}
.here{
    color:black;
    text-align: center;
    margin-top: 10px;
}
.drop{
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}