.C3 {
      background-color: #FFDB5C;
      border: 5px solid #ffe99d;
}

.c3Col {
  display: inline-block;
  position: relative;
  width: 22%;
  margin: 4% 0 5% 3%;
  padding: 0;
  background-color: transparent;
  border-top: none;
}