#header{
    padding-right: 80px;
}
#form {
    margin-top: 150px;
}
#modal{
    height: 20% !important;
    width: 30% !important;
    position: fixed;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    top:30% !important;
    left: 35% !important;
}


