#container {
    background-color: white;
    box-shadow: 0 5px 5px #ddd;
}
#menu{
    margin-left: 0 !important;
    float: left;
    padding-left: 100px;
}

#logo{
    height: 45px;
    width: auto;
    padding-right: 8px;
    padding-top: 2px;
}

@media only screen and (max-width: 595px) {
 #menu {
    padding-left: 42px;
 }
}

@media only screen and (max-width: 510px) {
    #menu {
       padding-left: 12px;
    }
   }

@media only screen and (max-width: 469px) {
    #search {
        width: 135px;
    }
}

@media only screen and (max-width: 400px) {
    #menu {
        padding-left: 12px;
    }
    #search {
        width: 80px;
    }
}


#label{
    margin-top: 16px;
    padding-top: 13px;
    height: 38px;
    width: 140px !important;
}
#pic{
    margin-right: 15px;
    height: 34px !important;
    margin-top:-11px;
}
#bubbles{
    color: #fa6e59;
    font-family: 'Sigmar One', cursive;
    font-size: 20px;
    margin-left: -20px;
    padding-bottom: 3px;
    margin-top:0;
}


.panel .panel-heading {
    cursor: pointer;
}
.panel .panel-collapse {
    overflow: hidden;
    transition: height 0.3s ease-out;
}
.panel .panel-body {
    border: none !important;
}
.panel h2 {
    margin-top: 5px !important;
}